There is bug in AngularJS or Google Chrome, that Chrome doesn't trigger any event when auto-filling a form.
So if the following form has been auto-filled, do some changes to make it "filled"!<br>

<div class="error" ng-show="error">E-mail or password was invalid!</div>
<form ng-submit="signIn()">
    Email: <input type="text" name="email" required ng-model="email"><br>
    Password: <input type="password" name="password" required ng-model="password">
    <input type="submit" value="Sign in">
</form>
<div>Don't have account yet? <a href="#/signup">Sing up</a> now.</div>